<div id="page_wrap">
  <img src="../../assets/images/roc_new.jpg" alt="Photo of Roc" id="pic">
  <h1 class="name">Zi(Roc) Wang</h1>
  <p>
    Cell: <span class="tel">902-818-8177</span><br />
    Email: <a href="mailto:roc.wang@dal.ca" class="email">Roc.Wang@dal.ca</a><br />
    Address: Apt-502, 1157 Tower Road. B3H 2Y7, Halifax, NS, Canada
  </p>
  <div id="objective">
    <p>I recently graduated from Dalhousie University, seeking a full-time job related to website development.
      If you have any opportunities, please let me know.
    </p>
    <p>If you want to know more about me, <a href="/about" id="click">click here</a></p>
  </div>

</div>
